<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss} %-5p %-20.20C{1} %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="${sys:loglevel:-info}">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
