<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="${hostName} %d{ISO8601} %-5p %-20.20C{1} %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.folio.edge.sip2" level="debug"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
